body {
  position: relative;
}

body > * {
  display: none;
  position: absolute;
}

.egg-0 {
  top: 30px;
  left: 30px;
}

.egg-1 {
  top: 40px;
  left: 50px;
}

.egg-2 {
  top: 50px;
  left: 70px;
}

.egg-3 {
  top: 60px;
  left: 90px;
}

.egg-4 {
  top: 70px;
  left: 110px;
}
