/*
 * This file is part of Poulailler - a browser-revival
 * of famous Nintendo's Game & Watch Mickey Mouse.
 *
 * Copyright 2012 Emmanuel Gaillot (emmanuel.gaillot@gmail.com)
 *
 * Poulailler is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Poulailler is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Poulailler.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


.game-wrapper {
  background: #d9b2b2;
  width: 576px;
  height: 416px;
  margin: 30px auto;
}

.screen {
  position: relative;
  background: #cdd3d5;
  width: 310px;
  height: 220px;
  top: 121px;
  margin: 0 auto;
}

.game-infos {
  position: absolute;
  top: 10px;
  left: 220px;
}

.sprites > * {
  display: none;
  position: absolute;
}

.line-0.egg-0 {
  top: 30px;
  left: 30px;
}

.line-0.egg-1 {
  top: 40px;
  left: 50px;
}

.line-0.egg-2 {
  top: 50px;
  left: 70px;
}

.line-0.egg-3 {
  top: 60px;
  left: 90px;
}

.line-0.egg-4 {
  top: 70px;
  left: 110px;
}

.line-1.egg-0 {
  top: 30px;
  left: 270px;
}

.line-1.egg-1 {
  top: 40px;
  left: 250px;
}

.line-1.egg-2 {
  top: 50px;
  left: 230px;
}

.line-1.egg-3 {
  top: 60px;
  left: 210px;
}

.line-1.egg-4 {
  top: 70px;
  left: 190px;
}

.line-2.egg-0 {
  top: 90px;
  left: 30px;
}

.line-2.egg-1 {
  top: 100px;
  left: 50px;
}

.line-2.egg-2 {
  top: 110px;
  left: 70px;
}

.line-2.egg-3 {
  top: 120px;
  left: 90px;
}

.line-2.egg-4 {
  top: 130px;
  left: 110px;
}

.line-3.egg-0 {
  top: 90px;
  left: 270px;
}

.line-3.egg-1 {
  top: 100px;
  left: 250px;
}

.line-3.egg-2 {
  top: 110px;
  left: 230px;
}

.line-3.egg-3 {
  top: 120px;
  left: 210px;
}

.line-3.egg-4 {
  top: 130px;
  left: 190px;
}

.bucket-0 {
  top: 76px;
  left: 110px;
}

.bucket-1 {
  top: 76px;
  left: 182px;
}

.bucket-2 {
  top: 136px;
  left: 110px;
}

.bucket-3 {
  top: 136px;
  left: 182px;
}

#broken-0 {
  top: 170px;
  left: 107px;
}

#broken-1 {
  top: 155px;
  left: 105px;
}

#broken-2 {
  top: 170px;
  left: 90px;
}

#broken-3 {
  top: 170px;
  left: 70px;
}

#broken-4 {
  top: 170px;
  left: 50px;
}

#broken-5 {
  top: 170px;
  left: 187px;
}

#broken-6 {
  top: 155px;
  left: 185px;
}

#broken-7 {
  top: 170px;
  left: 210px;
}

#broken-8 {
  top: 170px;
  left: 230px;
}

#broken-9 {
  top: 170px;
  left: 250px;
}

.game-over {
  color: white;
  background: black;
  border: solid 1px;
  padding: 10px;
  width: 80px;
  text-align: center;
  margin: 94px 104px;
}

.minnie {
  top: 40px;
  left: 146px;
}
